<mat-card>

  <h3>Secuencia Logica</h3>

  <mat-card-content >

    <mat-chip-list >

    <h3>{{serieStr}}</h3>


    </mat-chip-list>

    <br>
    <input  [(ngModel)]="respuesta" type="number" placeholder=0 style="text-align: right">

  </mat-card-content>
</mat-card>


<mat-card>
  <h3 *ngIf="finalizado">{{resultado}}</h3>
  <h4 *ngIf="finalizado">Respuesta: {{nuevoJuego.resultadoEsperado}}</h4>
  <h5 *ngIf="finalizado">Ecuacion: {{explicacion}}</h5>
  <mat-card-content>
    <button mat-raised-button color="primary" *ngIf="!jugando" (click)="NuevoJuego()">Nuevo Juego</button>
    <button mat-raised-button color="primary" *ngIf="jugando" (click)="verificar()">Verificar {{Tiempo}}</button>
  </mat-card-content>
</mat-card>


