<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-co">
  <div class="container">
    <div class="col-lg-4 mx-auto text-center" id="cartita">
      <img src="../assets/imagenes/quiensoy.jpg" width="256" class="rounded-circle" alt="Me Photo">
      <h2>¿Quien Soy?</h2>
      <h2>Yesid Dario Guinard</h2> <p> Alumno de la UTN FRA</p>
      <p><a class="btn btn-secondary" href="https://github.com/YesidGuinard" target="_blank" role="button">mi GitHub
      </a></p>
    </div>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Mi Juego</mat-card-title>
        <mat-card-subtitle>Secuencia Logica</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/imagenes/secuencia.jpg" alt="Mi juego de secuencia">
      <mat-card-content>
        <p>
          El jugador debe Elegir la siguiente figura de la secuencia, luego se le muestra otra
          secuencia y así el jugador tiene la opción de continuar o abandonar
        </p>

        <p>
         Inicia con email y password y disfruta de este increible Juego.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn-primary" (click)="JugarSecuencia()">Jugar</button>
      </mat-card-actions>
    </mat-card>
  </div>


</div>


<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Esto es un trabajo práctico</h3>
  <p class="px-5">Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene
    estrategias didácticas
    y formas de evaluación diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la forma
    de dictar clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre, las formas de evaluación
    son elementales tanto para las instituciones y profesores como para los alumnos. A través de la evaluación formativa
    el educador busca información en el alumno para lograr comprender cómo se está
    produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos. Y para el alumno es una muestra
    del progreso que está logrando y si puede aplicar, materializar y darle visibilidad a la comprensión del tema. Según
    Black y William (1998), la evaluación formativa, ayuda a que los estudiantes sean independientes a la hora del
    aprendizaje, es decir, se presenta como receptor, autorregulador y centro de esa misma evaluación. </p>

  <a class="btn btn-secondary"
        href="https://github.com/YesidGuinard/TP-Sala-de-Juegos-ANGULAR-/blob/master/SalaDeJuegos_2020.pdf"
        target="_blank" role="button">Descargar PDF
  </a>

</div>

