mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}
mat-button-toggle-group {
  width: 100%;
  border-bottom-width: 2px;
  margin-top: 20px;
  height: 20px;
  margin-bottom: 70px;

}
mat-button-toggle {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  flex-direction: row;
  display: flex;
}

mat-hint{
  color:darkorchid;
}





