<mat-card>

  <h3>Agilidad Arimetica</h3>

  <mat-card-content *ngIf="jugando">

    <mat-chip-list>
      <mat-chip>{{nuevoJuego.numeroUno}}</mat-chip>
      <mat-chip color="primary" >{{nuevoJuego.operador}}</mat-chip>
      <mat-chip>{{nuevoJuego.numeroDos}}</mat-chip>
    </mat-chip-list>

<br>
    <input  [(ngModel)]="respuesta" type="number" placeholder=0 style="text-align: right">

  </mat-card-content>
</mat-card>


<mat-card>
  <h3 *ngIf="finalizado">{{resultado}}</h3>

  <mat-card-content>
    <button mat-raised-button color="primary" *ngIf="!jugando" (click)="NuevoJuego()">Nuevo Juego</button>
    <button mat-raised-button color="primary" *ngIf="jugando" (click)="verificar()">Verificar {{Tiempo}}</button>
  </mat-card-content>
</mat-card>



