<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card mb-4 box-shadow ">
          <img class="card-img-top mongo" src="../../../../assets/imagenes/agilisaas.jpeg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Velocidad y agilidad aritmética</h3>
            <div class=" d-md-block">
              <p class="card-text block-ellipsis">Juego de agilidad mental </p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <button type="button" (click)="Juego('Agilidad')" class="btn btn-block btn-outline-primary">
                Jugar
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card mb-4 box-shadow ">
          <img class="card-img-top mongo" src="../../../../assets/imagenes/ppt.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Piedra Papel o Tijera</h3>
            <div class=" d-md-block">
              <p class="card-text block-ellipsis">Juega contra la máquina </p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <button type="button" (click)="Juego('PPT')" class=" btn  btn-block btn-outline-primary ">
                Jugar
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 ">
        <div class="card mb-4 box-shadow ">
          <img class="card-img-top mongo" src="../../../../assets/imagenes/adivina.png" alt="Card image cap ">
          <div class="card-body ">
            <h3 class="card-title ">Adivina el número secreto</h3>
            <div class=" d-md-block ">
              <p class="card-text block-ellipsis ">Juego de estrategia</p>
            </div>
            <div class="d-flex justify-content-between align-items-center ">
              <button type="button " (click)="Juego( 'Adivina') " class="btn  btn-block btn-outline-primary ">
                Jugar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card mb-4 box-shadow ">
          <img class="card-img-top mongo" src="../../../../assets/imagenes/anagrama.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Anagrama</h3>
            <div class=" d-md-block">
              <p class="card-text block-ellipsis">Se muestra una palabra desordenada y se debe ingresar la correcta</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <button type="button" (click)="Juego('Agilidad')" class="btn btn-block btn-outline-primary">
                Jugar
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card mb-4 box-shadow ">
          <img class="card-img-top mongo" src="../../../../assets/imagenes/tateti.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">TaTeTi</h3>
            <div class=" d-md-block">
              <p class="card-text block-ellipsis">Juega contra la máquina </p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <button type="button" (click)="Juego('PPT')" class=" btn  btn-block btn-outline-primary ">
                Jugar
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 ">
        <div class="card mb-4 box-shadow ">
          <img class="card-img-top mongo" src="../../../../assets/imagenes/memotest.jpg" alt="Card image cap ">
          <div class="card-body ">
            <h3 class="card-title ">Memotest</h3>
            <div class=" d-md-block ">
              <p class="card-text block-ellipsis ">Juega de estrategia</p>
            </div>
            <div class="d-flex justify-content-between align-items-center ">
              <button type="button " (click)="Juego( 'Adivina') " class="btn  btn-block btn-outline-primary ">
                Jugar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card mb-4 box-shadow ">
          <img class="card-img-top mongo" src="../../../../assets/imagenes/secuencia.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Secuencia Logica</h3>
            <div class=" d-md-block">
              <p class="card-text block-ellipsis">El jugador debe Elegir la siguiente figura de la secuencia, luego se
                le muestra otra secuencia y así el jugador tiene la opción de continuar o abandonar</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <button type="button" (click)="Juego('Agilidad')" class="btn btn-block btn-outline-primary">
                Jugar
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="inner-adjust">

    <div class="pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">User Profile</h1>
    </div>
    <!-- Show user data when logged in -->
    <div class="row" *ngIf="authService.user as user">
      <div class="col-md-12">
        <div class="media">
          <img class="align-self-start mr-5 img-thumbnail rounded-circle" width="250" src="{{(user.photoURL) ? user.photoURL : '../../../../assets/imagenes/login.png'}}"
               alt="{{user.displayName}}">
          <div class="media-body">
            <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
            <p>User ID: <strong>{{user.uid}}</strong></p>
            <p>Email: <strong>{{user.email}}</strong></p>
            <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
