<mat-toolbar color="primary" class="expanded-toolbar">
    <span>
     <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/Login" *ngIf="!isAuthenticated">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>

    <button mat-button routerLink="/Registro" *ngIf="!isAuthenticated">
      <mat-icon>edit</mat-icon>
      Registrarse
    </button>

    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
    <button mat-button *ngIf="isAuthenticated" routerLink="/Juegos">
      <mat-icon>gamepad</mat-icon>
      Play
    </button>
    <button mat-button *ngIf="isAuthenticated" routerLink="/Jugadores">
      <mat-icon>group</mat-icon>
      Jugadores
    </button>
    <button mat-button *ngIf="isAuthenticated" routerLink="/Listado">
      <mat-icon>list</mat-icon>
      Resultados
    </button>
    <button mat-button routerLink="/QuienSoy">
      <mat-icon>info</mat-icon>
      Quien
    </button>

  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">

  <button mat-menu-item routerLink="/Login" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>

  <button mat-menu-item routerLink="/Registro" *ngIf="!isAuthenticated">
    <mat-icon>edit</mat-icon>
    Registrarse
  </button>
  <mat-menu-list *ngIf="isAuthenticated">
    <button mat-menu-item routerLink="/Juegos">
      <mat-icon>gamepad</mat-icon>
      Play
    </button>
    <button mat-menu-item routerLink="/Jugadores">
      <mat-icon>group</mat-icon>
      Jugadores
    </button>
    <button mat-menu-item routerLink="/Listado">
      <mat-icon>list</mat-icon>
      Resultados
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </mat-menu-list>
  <button mat-menu-item routerLink="/QuienSoy">
    <mat-icon>info</mat-icon>
    Quien
  </button>

</mat-menu>



